<div class="form-group">
    <div class="radio">
        <label for="enableAvatar" class="full-width">
            <input id="homePageLink" type="checkbox" ng-model="properties.EnableAvatar.PropertyValue"
                   ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.EnableAvatar.PropertyValue === 'True'" />
            Enable avatar
        </label>
    </div>
</div>