<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5914.0">
	<Sites>
		<add SiteName="DevMag" SiteId="1c88be45-a1f0-4635-8643-abedaa6e6cd6" />
	</Sites>
</analyticsConfig>