<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5914.0">
	<notifications newPostNotificationTemplateId="b2681208-f4f9-63e2-beed-ff0000a086d6" newThreadNotificationTemplateId="b3681208-f4f9-63e2-beed-ff0000a086d6" />
</forumsConfig>