<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6000.0" projectName="DevMag" dateCreated="2016-03-23 03:00:43Z">
	<defaultSite id="1c88be45-a1f0-4635-8643-abedaa6e6cd6" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>